
@{
    ViewBag.Title = "New";
}

<h2>New teacher</h2>

<form method="POST" action="/Teacher/Create">
    <div>
        <label for="TeacherFName">First Name:</label>
        <input type="text" id="TeacherFName" name="TeacherFName" />
    </div>

    <div>
        <label for="TeacherLName">Last Name:</label>
        <input type="text" id="TeacherLName" name="TeacherLName" />
    </div>

    <div>
        <label for="EmployeeNumber">Employee Number:</label>
        <input type="text" id="EmployeeNumber" name="EmployeeNumber" />
    </div>

    <div>
        <label for="HireDate">Hire Date:</label>
        <input type="date" id="HireDate" name="HireDate" />
    </div>

    <div>
        <label for="Salary">Salary:</label>
        <input type="number" id="Salary" name="Salary" step="0.01"/>
    </div>

    <div>
        <input type="submit" value="Create Teacher">
    </div>
</form>


