<main>
    <!--
           <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </section>>
    </div>
        -->
    <!-- change the main content of the homepage -->
    <h1>HTTP5101 Cumulative Project Part 3</h1>
    <h2>Arnulfo Sánchez - n01637867</h2>
    <p>In this Assignment you will be able to find the information collected by School Database, in which 3 tables are presented (Teachers, Students, Classes)</p>
    <p>Additionally, you will be able to <strong>ADD</strong>, <strong>DELETE</strong> and <strong>UPDATE</strong> Teachers</p>

    <!-- boxes that explain the Teacher, studen amd class fatures -->
    <div class="page-content">
        <div class="feature-content">
            <section>
                <h3>Teacher</h3>
                <p>This feature was made to show the Teachers and also show details of the Teachers</p>
                <ol>
                    <li>
                        If you click you will find a list of teachers
                    </li>
                    <li>
                        If you click on any of the teachers on the list you will be navigated to the details of the selected teacher
                    </li>
                </ol>
                <p>In version #2, the <strong>ADD and DELETE features were added</strong>, as well as the <strong>feedback from Find Teacher should receive the teacher id as a parameter, not string concatenation.</strong></p>
                <p><strong>Initiatives:</strong></p>
                <ul>
                    <li>
                        Using the CURL with command prompt to send the post data in the AddTeacher
                    </li>
                    <li>
                        Server Side Validation
                    </li>
                    <li>
                        Client Side Validation
                    </li>
                </ul>
                <p>In version #3, the <strong>UPDATE features was added</strong>.</p>
                <p><strong>Initiatives:</strong></p>
                <ul>
                    <li>
                        Using a <strong>CURL request with a JSON object</strong> to update the teacher data through the WebAPI instead of the teacher interface
                    </li>
                    <li>
                        Use <strong>JavaScript and AJAX to send an XHR request</strong> for updating a teacher
                    </li>
                    <li>
                        Use of <strong>try and catch in the /Teacher/Update/{id}</strong>, to do this I created a new ActionResult Error() in the HomeController as well as a new view Error
                    </li>
                    <li>
                        <strong>Server Side Validation</strong> to ensure that there is no missing information when a teacher is updated
                    </li>
                    <li>
                        <strong>Client Side Validation</strong> Update Feature
                    </li>
                </ul>
                <a href="/Teacher/List" class="link-style">Teacher List</a>
            </section>
        </div>

        <div class="feature-content">
            <section>
                <h3>Student</h3>
                <p>This feature was made to show the Students and also show details of the Students</p>
                <ol>
                    <li>
                        The page will display the Students Table first
                    </li>
                    <li>
                        In the list you can click on any of the students and it will display more information about the selected student
                    </li>
                </ol>
                <a href="/Student/List" class="link-style">Student List</a>
            </section>
        </div>

        <div class="feature-content">
            <section>
                <h3>Classes</h3>
                <p>This feature was made to show the CLasses and also show details of the Classes</p>
                <ol>
                    <li>
                        The page will display the Students Table first
                    </li>
                    <li>
                        In the list you can click on any of the students and it will display more information about the selected student
                    </li>
                </ol>
                <a href="/Class/List" class="link-style">Class List</a>
            </section>
        </div>
    </div>

</main>