/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*change color background of the page*/
body {
    background-color: #Bfe2c9;
}

/*create a flex in orden to see the Teacher, class and student in horizontal (home page)*/
.page-content {
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
}

/*create a border for the Teacher, class and student boxes*/
.feature-content {
    flex-basis: 400px;
    border: 2px solid black;
    border-radius: 25px;
}

/*bold text*/
.bold {
    font-weight: bold;
}

/* create a margin of the flex item of the teacher, class and student*/
section{
    margin: 10px 10px;
}

/*change the style of the links that will display the list of the features (home page)*/
.link-style {
    display: inline-block;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 10px;
    margin-bottom: 10px;
    background-color: #Bf5c5c;
    color: white;
    font-weight: bold;
}

/*style for the link of the list items*/
.list-link {
    display: inline-block;
    text-decoration: none;
    border-radius: 25px;
    padding: 0px 10px;
    margin-top: 10px;
    background-color: #5c8dbf;
    color: black;
}

/*hover of the teacher, student and class link (home page)*/
.link-style:hover{
    color: black;
}

/*hover of the item list of the features*/
.list-link:hover {
    color: white;
}

/*Conatiner style of show */
.content-conatiner{
    width: 70%;
    margin: 0 auto;
}

/*Lisnks container*/
.container-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*style of the goBack link*/
.goBack {
    text-decoration: none;
    margin: 1em 0;
    display: inline-block;
}

/*style of the delete link*/
.deleteLink {
    text-decoration: none;
    color: white;
    margin: 1em 0;
    background: #dd1111;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 10px;
}

    /*style of the delete link hover*/
.deleteLink:hover {
    color: #dd1111;
    background: white;
}

.container-box-delete {
    display: flex;
    justify-content: center;
    gap: 5em;
    align-items: center;
}

/*Style btn delete*/
.deleteBtn {
    color: white;
    background: #dd1111;
    border: 2px solid black;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

/*style of the add feature in the Teacher/List*/
.addTeacher {
    text-decoration: none;
    color: white;
    margin: 1em 0;
    background: #40916c;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 10px;
    display:inline-block;
}

/*style hover of the add feature in the Teacher/List*/
.addTeacher:hover {
    background: #bc6c25;
    color: white;
}

form div{
    margin-bottom: 0.5em;
}

/*style of the error client valisation*/
#errorMsg {
    background-color: #dd1111;
    color: white;
    margin-bottom: 1em;
    display:inline-block;
}

/*style of the name of Teacher when it's abou to be deleted*/
.delete_spam {
    font-weight: bold;
    color: #dd1111;
}

/*style of the update link*/
.updateLink {
    display:inline-block;
    text-decoration: none;
    color: white;
    margin-bottom: 0.5em;
    background: #0077b6;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 10px;
}

/*style of the update link hover*/
.updateLink:hover {
    color: #0077b6;
    background: #fdf0d5;
}

/*style of the update Ajax link*/
.updateLink_Ajax {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-bottom: 0.5em;
    background: #ffb703;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 10px;
}

/*style of the update Ajax link hover*/
    .updateLink_Ajax:hover {
        color: white;
        background: #4a4e69;
    }

