@model n01637867Assignment3.Models.Course

@{
    ViewBag.Title = "Show selected Class";
}

<!-- details of the class selected -->
<h2>Information of the Class selected in detail </h2>
<p class="bold">Class Name : @Model.ClassName</p>
<p>Class Code: @Model.ClassCode</p>
<p>Start Class Date : @Model.StartDate</p>
<p>Finish Class Date : @Model.FinishDate</p>



