@model n01637867Assignment3.Models.Student

@{
    ViewBag.Title = "Show selected Student";
}

<!-- details of the student selected -->
<h2>Information of the Student selected in detail </h2>
<p class="bold">Student Full Name : @Model.StudentFName @Model.StudentLName</p>
<p>Student Number : @Model.StudentNumber</p>
<p>Enrol Date : @Model.EnrolDate</p>

